from flask import Flask, jsonify,render_template,request,make_response,json
import requests
import re 
import urllib.request, urllib.error
from bs4 import BeautifulSoup
import io
import json
import mysql.connector

